<!DOCTYPE html>
<html lang="en">
    <%= require('html-loader!./layout/html-head.html') %>
    <title> <%= htmlWebpackPlugin.options.title %>--Just to relax</title>
<body>
    <%= require('html-loader!./layout/header.html') %>

    <div class="w page-wrap">
        <%= require('html-loader!./layout/sideTop.html') %>
        <div class="fz-el"></div>
        <div class="filter">
            <a href="javascript:;" class="cur" data-type='lastest'>最新</a>
            <a href="javascript:;" data-type="random">随机</a>
        </div>
        <div class="joke-con">
            <!-- <%= require('html-loader!./layout/loading.html') %> -->
        </div>
    </div>
    
    <script type="text/html" id="joke-template">
        <div class="con-item">
            <div class="content">{{content}}</div>
            <span class="time">{{updatetime}}</span>
        </div>
    </script>
</body>
</html>